<nav class ="navbar navbar-default navbar-static" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
    	<a href="/" class="navbar-brand" id="teal">Workout Buddy</a>
		</div>
<!-- 		<div class="collapse navbar-collapse navbar-ex1-collapse"> -->
    <ul class="nav navbar-nav">
    	<% if navbar.include? (:welcome) %>
			<li class="active hi" id="welcome">
				<a href="/users/<%= current_user.id%>">
			  Welcome back, <%= current_user.username.capitalize %>! 
			</a>
			</li>

			<li class="active hi">
					<%= link_to "Users", users_path %>
			</li>
			
			<li class="active hi">
				<a href='/partner_requests/<%= current_user.id%>'>
					My Requests
				</a>
			</li>
			
			<li class="active hi">
				<a href='/goals/<%= current_user.id%>'>
					My Goals
				</a>
			</li>

			<li class="active hi">
				<%= link_to "Log Out", sessions_path, method: :delete %>
			</li>
	</ul>
<!-- 	</div> -->
	<% end %>

		<% if navbar.include? (:log_in) %>
<!-- 		<div class="collapse navbar-collapse navbar-ex1-collapse"> -->
			<ul class="nav navbar-nav">
				
				<li class="active hi">
					<%= link_to "Log In", login_path %>
				</li>
				<li class="active hi">
					<%= link_to "Sign Up", new_user_path %>
				</li>
			<% end %>

			</ul>
	</div>
</nav>