<!-- this form will be used to add a new user and to edit an existing user -->

  <h1>Sign Up:</h1>
  <br>

<%= bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>

  <% if edit %>

    <%= f.email_field :email, control_col: "col-xs-5" %>
    
    <%= f.phone_field :phone, label: 'Phone Number: ', control_col: "col-xs-4" %>

  <% end %>

    <%= f.text_field :username, label: 'Pick a Username: ', control_col: "col-xs-4" %>


    <%= f.text_field :first_name, label: 'First Name: ',control_col: "col-xs-4" %>


    <%= f.text_field :avatar, label: 'Photo URL: ', control_col: "col-xs-5" %>

    <%= f.text_field :age, label: 'Age: ', control_col: "col-xs-2" %>

    <%= f.select :gender, options_for_select([["Select One", ""], "male", "female"]), label: 'Gender: ', control_col: "col-xs-3" %>

  <%= f.select :experience, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"]), label: 'Experience Level: ', control_col: "col-xs-3" %>

  <%= f.form_group :activity_ids, label: { text: "Select your activities: " } do %>
    <div class="checkboxes">
  <%= f.collection_check_boxes :activity_ids, Activity.all, :id, :name, hide_label: true, inline: true %>
</div>
  <% end %>
  
  <%= f.form_group :day_ids, label: { text: "Availability:" } do %>
  <div class="checkboxes">
  <%= f.collection_check_boxes :day_ids, Day.all, :id, :day, hide_label: true, inline: true %>
</div>
  <% end %>

<% if new_user %>
    
    <%= f.email_field :email, label: 'Email: ', value: 'name@example.com', control_col: "col-xs-5" %>

    <%= f.phone_field :phone, label: 'Phone Number: ', value: '6318350711', control_col: "col-xs-4" %>

    <%= f.password_field :password, control_col: "col-xs-3", label: 'Password: ' %>
  
    <%= f.password_field :password_confirmation, label: 'Confirm Password: ', control_col: "col-xs-3" %>
<% end %>

  <%= f.submit "Submit", :id=>"submit" %>
<br> <br>
<% if delete %>
    <%= link_to "Delete Account", user_path(@user), method: :delete, :class => 'btn btn-default' %>
<% end %>
<br>

<% end %>

<br><br>


