<h1>Users#index</h1>
<div class="container">
<% @users.each do |user| %>
Name: <%= user.first_name %> <%= user.email %>
<br>
Username: <%= user.username %>
<br>
<%= image_tag(user.image_url, :alt => "avatar") %>
<br>
<% user.partners.each do |partner| %>
Partner: <%= partner.name %>
<% end %>
<br><br>
<% end %>
</div>
