<h1>Users#index</h1>
<div class="container">
<% @users.each do |user| %>
Name: <%= user.first_name %> <%= user.email %>
<br>
Username: <%= user.username %>
<br>
<%= image_tag(user.avatar, :alt => "avatar") %>
<br>
Partner: <%= user.partner %>
<br><br>
<% end %>
</div>
