<br>
<div class="thumbnail show">
	<br>
<p> <%= @user.first_name %> | <%= @user.username%>
</p>
<div class="image-show">
<%= image_tag(@user.avatar, :alt => "avatar") %>

<% if @user.partner != nil %>
<br>
<p> Partner: <a href='/users/<%=@user.partner.id%>'><%= @user.partner.first_name %> </a> </p>
<% end %>
</div> 
<br><br><br>
	<p> I enjoy.. <br>
<% @user.activities.each do |activity| %>
	 | <%= activity.name %>
<% end %> |
</p>
 <p> Contact: <%= @user.email %> </p>
		<p> <%= link_to "My Current Fitness Goals:", goal_path %> </p>
		
			<% @user.goals.each do |goal| %>

			<p> <li> <%= goal.goal_name %> </li> </p>

				<% end %>
				<%= link_to "New Goal?", new_goal_path %>
				<br><br>

	<% if current_user == @user %>
			<%= link_to "Edit Account", edit_user_path(@user), :class => 'btn btn-default', :id => 'user-show' %>
		
</div>
<% end %>