<br>
<div class="thumbnail show">
	<br>
<p> <%= @user.first_name %> | <%= @user.username%>
</p>
<div class="image-show">
<%= image_tag(@user.avatar, :alt => "avatar") %>
</div> 
	<p> I enjoy.. </p>
	<p>
<% @user.activities.each do |activity| %>
	 | <%= activity.name %>
<% end %> |
</p>
 <p> <%= @user.email %> </p>
<br>
		<p> <%= link_to "My Current Fitness Goals:", goal_path %> </p>
		
			<% @user.goals.each do |goal| %>

			<p> <li> <%= goal.goal_name %> </li> </p>

				<% end %>
				<%= link_to "New Goal?", new_goal_path %>
				<br><br>

	<% if current_user == @user %>
			<%= link_to "Edit Account", edit_user_path(@user), :class => 'btn btn-default', :id => 'user-show' %>
		<br><br>
</div>
<% end %>