<br>
<div class="thumbnail show">
<p> <%= @user.first_name %> | <%= @user.username%>
</p>
<div class="image-show">
<%= image_tag(@user.avatar, :alt => "avatar") %>
</div>
<br><br><br>
 <p> <%= @user.email %> </p>

	<% if current_user == @user %>
			<%= link_to "Edit Account", edit_user_path(@user), :class => 'btn btn-default' %>
		
</div>

<% end %>