<div class="thumbnail request-view">
<a href="/users/{{id}}">
<div class="user-image">
  <img src="{{avatar}}"/>
</div></a>

<div class="user">
  <h1>
    Requester: {{requester_id}}
  </h1>
  <p>
    Receiver: {{receiver_id}}
  </p>
  <p>
    Message: {{message}}
  </p>
  <p>
  Sent at: {{created_at}}
  </p>
</div>
</div>