<a href="/users/{{id}}">
<div class="user-image">
  <img src="{{avatar}}"/>
</div></a>

<div class="user">
  <h1>
    {{requester_id}}
  </h1>
  <p>
    {{receiver_id}}
  </p>
  <p>
    {{message}}
  </p>
  <p>
  {{created_at}}
  </p>
</div>
