<div class="col-xs-6 col-md-4 col-centered">
  <div class="user content">

    <h2> {{username}}</h2>

     <div class="preview">
     <a href="/users/{{id}}">
      <img src="{{avatar}}"/>
      </a>
      </div>
      
       <p> {{first_name}} | Age: {{age}} | Fitness Level: {{experience}} </p>
       <p> {{activities}} </p>
        <button id="partner-request" class="btn btn-primary">Partner Up!</button>
  </div>
<br>
<br>
<br>
<br>
</div>
