<a href="/users/{{id}}">
<div class="user-image">
  <img src="{{avatar}}"/>
</div></a>

<div class="user">
  <h1>
    {{username}}
  </h1>
  <p>
    {{first_name}}
  </p>
  <p>
    {{age}}
  </p>
  <p>
    {{email}}
  </p>
  <p>
    {{gender}}
  </p>
  <p>
    {{experience}}
  </p>
</div>