<h1>Partner Requests#show</h1>


<h2 id="<%= @user.id %>"><%= @user.first_name %>, they want to partner up! </h2>
<br>

<% @partner_requests.each do |request| %>

	<div class="col-xs-6 col-md-4 col-centered" >
		<div class="user content thumbnail" id="each-request">
<br>
			<p class="request-info" id="<%= request.id%>"> Request from:
			<br>
			<%= request.requester.first_name %> 
			<br>
			</p>

			<button class="btn btn-primary accept" id="<%= request.requester.id %>">Accept!</button> 
	
			<button class="btn btn-primary deny" id="<%= request.requester.id %>">Deny!</button>
	
	<br><br>
	
		</div>
	</div>

<% end %>
