<!DOCTYPE html>
<html>
<head>
  <title>WorkoutBuddy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "home" if controller_name == "home" %>
  <%= csrf_meta_tags %>
</head>
<body>


    <% if session[:current_user_id] %>
      <%= render partial: 'sessions/navbar', locals: { navbar: [:welcome] } %>
    <% else %>
      <%= render partial: 'sessions/navbar', locals: { navbar: [:log_in] } %>
    <% end %>

<%= yield %>

</body>

</html>
